body, html {
	margin: 0;
	padding: 0;
	font-family: "Verdana", sans-serif;
}

h1 {
	width: 100%;
	text-align: center;
}

form {
	display: block;
	width: 60%;

	margin: 3% auto;
	padding: 1% 0%;
	border: 2px solid black;

	text-align: center;
	background-color: #EEE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
	display: inline-block;
	width: 29.2%;

	margin: 1%;
	padding-left: 1%;

	font-size: 105%;
}

.hidden-input {
	visibility: hidden;
	margin: 0%;
	width: 0%;
}

textarea {
	display: inline-block;
	width: 63%;
	resize: none;

	margin: 1% 1% .5% 1%;
	padding: 1% 0% 0% 1%;

	font-size: 100%;
	text-align: left;
}

select {
	display: inline-block;
	width: 50%;

	margin: 0% 1% 1% 1%;

	font-size: 105%;
}

button {
	display: inline-block;
	width: 15%;

	margin: 1% 1% 1% 1%;
	padding: .75%;

	font-size: 100%;
}
