/*******************************/
/* CSS for the BODY, HTML tags */
/*******************************/

body, html {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	font-family: "Verdana", sans-serif;
}

.align-center {
	text-align: center;
}

/***********************/
/* CSS for the H1 tags */
/***********************/

h1 {
	text-align: center;
	margin-bottom: 1%;
}

/************************/
/* CSS for the DIV tags */
/************************/

.list {
	display: block;

	margin: 0 auto;
	padding: 0;

	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.hr-div {
	width: 71%;
}

.list-div {
	width: 98%;
}

/*************************/
/* CSS for the FORM tags */
/*************************/

.record {
	display: block;
	width: 100%;

	margin: 0;
	padding: 0% 0%;

	border-top: 2px solid black;
}

.search-form {
	display: block;
	width: 70%;

	margin: 5% auto;
	padding: 0;

	text-align: center;
}

/**********************/
/* CSS for the P tags */
/**********************/

.record p {
	display: inline-block;
	width: 22%;

	margin: 0;
	padding: 1%;

	border-right: 1px solid black;
	text-align: center;
}

.listing p {
	padding: 0.5%;
	width: 16.7%;
}

.statistics {
	text-align: center;
	font-size: 105%;
}

/**********************/
/* CSS for the A tags */
/**********************/

.home-tags {
	display: inline-block;
	width: 20%;

	margin: 1.7% .5% 0% .5%;
	padding: 1%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	text-align: center;
	text-decoration: none;
	font-size: 120%;
}

.home-tags:hover {
	background-color: #EEE;
}


.page-link {
	display: block;
	width: 15%;

	margin: 2% auto;
	padding: 1%;

	font-size: 110%;
	text-align: center;
	text-decoration: none;
}


/*******************************/
/* CSS for the FORM INPUT tags */
/*******************************/

input {
	display: inline-block;
	width: 22%;

	margin: 0% 0% 0% 4%;
	padding-left: 1%;

	color: blue;
	font-size: 105%;
}

.search-input {
	display: block
	width: 28.5%;
	margin: 1% 0% 0% 0%;

	font-size: 90%;

}

button {
	display: inline-block;
	width: 17%;

	margin: 0% 2%;
	padding: .7%;
	vertical-align: middle;

	cursor: pointer;
}

select {
	width: 30%;
	margin: 1% 0% 0% 0%;

	font-size: 110%;
}


/****************************/
/* CSS for the ADDRESS page */
/****************************/

.no-border {
	border: none;
}

.address {
	display: block;
	width: 88%;

	margin: 2% 4.9%;
	padding: 1%;
	border: 2px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	background-color: #EEE;
	color: black;

}

.address p {
	border: none;
}
