<!DOCTYPE html>

	<head>
		<title>Home | Oauthkeeper</title>
		<link href="../static/css/permissions.css" rel="stylesheet">
	</head>

	<body>

	<!-- We need permission editing, search, stats, users  -->		

		<h1>Welcome, {{ username }}!</h1>

		<a href="{{ url_for('get_permissions') }}" class="home-tags">HR Contact Permissions</a>
		<a href="{{ url_for('get_search') }}" class="home-tags">Search Contacts</a>
		<a href="{{ url_for('get_stats') }}" class="home-tags">HR Statistics</a>
		<a href="{{ url_for('get_team_statistics') }}" class="home-tags">Second-Years</a>
		<a href="{{ url_for('admin_logout') }}" class="home-tags">Logout</a>

	</body>

</html>
