<!DOCTYPE html>

	<head>
		<title>Home | Oauthkeeper</title>
		<link href="../static/css/permissions.css" rel="stylesheet">"
	</head>

	<body>

	<!-- We need permission editing, search, stats, users  -->		

		<h1>Welcome, {{ username }}!</h1>

		<a href="{{ url_for('get_permissions') }}">HR Contact Permissions</a>
		<a href="{{ url_for('get_search') }}">Search Contacts</a>
		<a href="{{ url_for('get_stats') }}">HR Statistics</a>
		<a href="#">Second-Years</a>
		<a href="{{ url_for('logout') }}">Logout</a>

	</body>

</html>
