<!DOCTYPE html>

	<head>
		<title>Permissions | Oauthkeeper</title>
		<link href="../static/css/permissions.css" rel="stylesheet">
		<link rel="icon" href="../static/img/sword.png">
	</head>

	<body>

		<h1>HR Contact Permissions</h1>
		<a href="{{ url_for('admin_home') }}" class="page-link">Go To Home</a>

		<div class="list hr-div">

			{% for userid, name, company, permissions in records %}
			<form class="record"  method="post" action="{{ url_for('edit_permissions', userid=userid) }}">
				<p>{{ name }}</p>
				<p>{{ company }}</p>
				<input type="text" name="permissions" value="{{ permissions }}">
				<button type="submit">Save</button>
			</form>
			{% endfor %}

		</div>

	</body>

</html>
