<!DOCTYPE html>

	<head>
		<title>Permissions | Oauthkeeper</title>
		<link href="../static/css/permissions.css" rel="stylesheet">
	</head>

	<body>

		<h1>HR Contact Permissions</h1>

		<div id="hr-div">

			<form>
				<p>Tony Stark</p>
				<p>Stark Industries</p>
				<input type="text" value="navya, vykunth, rahil">
				<button type="submit">Save</button>
			</form>

			<form>
				<p>Tony Stark</p>
				<p>Stark Industries</p>
				<input type="text" value="navya, vykunth, rahil">
				<button type="submit">Save</button>
			</form>

			<form>
				<p>Tony Stark</p>
				<p>Stark Industries</p>
				<input type="text" value="navya, vykunth, rahil">
				<button type="submit">Save</button>
			</form>



		</div>

	</body>

</html>
