<!DOCTYPE html>

	<head>
		<title>Add A Contact | Oauthkeeper</title>
		<link href="../static/css/user-contacts.css" rel="stylesheet">
		<link rel="icon" href="../static/img/sword.png">
	</head>

	<body>

		<h1>Add A Contact!</h1>

		<form method="post" action="{{ url_for('contact_add') }}">
			<input type="text" name="name" placeholder="HR's Name">
			<input type="text" name="company" placeholder="HR's Company"><br>
			<input type="number" name="number" placeholder="HR's Number">
			<input type="email" name="email" placeholder="HR's Email"><br>
			<textarea name="address">HR's Address (Optional)</textarea><br>
			<button type="submit">Add</button>

			{% if error %}
			<p style="color: red;">{{ error }}</p>
			{% endif %}
		</form>

	</body>

</html>
