<!DOCTYPE html>

	<head>
		<title>Your Contacts | Oauthkeeper</title>
		<link href="../static/css/contacts.css" rel="stylesheet">
	</head>

	<body>

		<h1>Your Contacts</h1>

		<form>
			<input type="text" value="123" style="visibility: hidden; width: 0%; margin: 0%;">
			<input type="text" placeholder="HR's Name" value="Tony Stark">
			<input type="text" placeholder="HR's Company" value="Stark Industries">
			<input type="number" placeholder="HR's Number" value="8939227284">
			<input type="email" placeholder="HR's Email" value="arjun.aravind@yahoo.com"><br>
			<textarea type="address" placeholder="HR's Address"> E-12, The Nest Apartments, Rathna Nagar Main Road, Teynampet, Chennai-18, 600018 </textarea><br>
			<select>
				<option>Not Called</option>
				<option>Wrong Number</option>
				<option>Called/Accepted</option>
				<option>Called/Declined</option>
				<option>Called/Not Reachable</option>
				<option>Called/Postponed</option>
				<option>Emailed/Awaiting Response</option>
				<option>Emailed/Declined</option>
				<option>Emailed/Confirmed</option>
			</select><br>
			<button type="submit">Save</button>
		</form>

	</body>

</html>
