<!DOCTYPE html>

	<!-- This is the HTML code for the 'User-Login Page'. -->
	<!-- This file should contain minimal CSS. -->

	<head>
		<title>Login | Oauthkeeper</title>
		<link href="../static/css/login.css" rel="stylesheet">
	</head>

	<body>

		<!-- Welcome message. -->
		<h1>Welcome!</h1>

		<!-- The FORM elements.  -->
		<form method="post" action="{{ url_for('validate_user_login') }}">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button type="submit">Login</button>
		</form>

	</body>

</html>
