<!DOCTYPE html>

	<head>
		<title>Your Contacts | Oauthkeeper</title>
		<link href="../static/css/user-contacts.css" rel="stylesheet">
		<link rel="icon" href="../static/img/sword.png">
	</head>

	<body>

		<h1>Your Contacts</h1>

		<a href="{{ url_for('add_contact') }}">Add Contact</a>
		<a href="{{ url_for('logout') }}" style="padding-top:.5%">Logout</a>

		{% for contactid, name, company, number, email, address, status, hrcount in records %}

		<form method="post" action="{{ url_for('update_contact', userid=contactid) }}">

			<input type="text" placeholder="HR's Name" name="name" value="{{ name }}" required>
			<input type="text" placeholder="HR's Company" name="company" value="{{ company }}" required><br>

			<input type="number" placeholder="HR's Number" name="number" value="{{ number }}" required>
			<input type="email" placeholder="HR's Email" name="email" value="{{ email }}"><br>

			<textarea type="address" placeholder="HR's Address" name="address">{{ address }}</textarea><br>
			<select name="status">
				<option value="{{ status }}" selected>{{ status }}</option>
				<option value="Wrong Number">Wrong Number</option>
				<option value="Called/Accepted">Called/Accepted</option>
				<option value="Called/Declined">Called/Declined</option>
				<option value="Called/Not Reachable">Called/Not Reachable</option>
				<option value="Called/Postponed">Called/Postponed</option>
				<option value="Emailed/Awaiting Response">Emailed/Awaiting Response</option>
				<option value="Emailed/Declined">Emailed/Declined</option>
				<option value="Emailed/Confirmed">Emailed/Confirmed</option>
				<option value="Not Called">Not Called</option>
			</select>
			{% if status == "Emailed/Confirmed" %}
				<input type="number" style="width: 10%;" class="small" placeholder="HR Count" name="hrcount" value="{{ hrcount }}" required><br>
			{% else %}
				<input type="hidden" name="hrcount" value="1">
				<input type="number" style="width: 10%;" class="small" placeholder="HR Count" name="hrcount_disabled" value="1" disabled><br>
			{% endif %}
			<button type="submit">Save</button>

		</form>

		{% endfor %}

	</body>

	<script>
		{% if error %}
		alert("{{ error }}");
		{% endif %}
	</script>

</html>
