<!DOCTYPE html>

	<head>
		<title>Add A Contact | Oauthkeeper</title>
		<link href="../static/css/contacts.css" rel="stylesheet">
	</head>

	<body>

		<h1>Add A Contact!</h1>

		<form method="post" action="http://142.93.222.92:5000/add-contact">
			<input type="text" name="name" placeholder="HR's Name">
			<input type="text" name="company" placeholder="HR's Company"> 
			<input type="number" name="number" placeholder="HR's Number">
			<input type="email" name="email" placeholder="HR's Email">
			<textarea name="address">HR's Address (Optional)</textarea> <br>
			<button type="submit">Add</button>
		</form>

	</body>

</html>
