<!DOCTYPE html>

	<head>
		<title>Add A Contact | Oauthkeeper</title>
		<link href="../static/css/contacts.css" rel="stylesheet">
	</head>

	<body>

		<h1>Add A Contact!</h1>

		<form method="post" action="http://142.93.222.92:5000/add-contact">
			<input type="text" user="name" placeholder="HR's Name" style='padding-left: .5%;'>
			<input type="text" user="company" placeholder="HR's Company" style='padding-left: .5%;'>
			<input type="number" user="number" placeholder="HR's Number" style='padding-left: .5%;'>
			<input type="email" user="email" placeholder="HR's Email" style='padding-left: .5%;'>
			<textarea user="address">HR's Address (Optional)</textarea> <br>
			<button type="submit">Add</button>
		</form>

	</body>

</html>
